body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4f8; 
  }

  /*Encabezado de la página*/
  nav {
    background-color: #3498db;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #f0f4f8;
  }
  
  .page-content {
    margin-top: 60px;
  }
/*Cuerpo*/  
  
  div {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333333;
  }
  
  #qr-input {
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #b8c2cc;
    border-radius: 4px;
  }
  
  #qr-code {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Botones*/
  button {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #207bb5;
  }
  
  #download-button {
    background-color: #3498db;
    margin-bottom: 10px;
  }
  
  #buy-button {
    background-color: #2ecc71;
  }
  
  